# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:

# Configure gmaps
gmaps.configure(api_key=g_key)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:

#load the csv
cities = "../wheatherpy/output_data/clean_city_data.csv"
cities_df = pd.read_csv(cities)
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,avarua,light rain,CK,1614184461,83,-21.2078,-159.7750,28.00,5.14
1,1,port alfred,light rain,ZA,1614225441,95,-33.5906,26.8910,18.33,0.45
2,2,constitucion,clear sky,CL,1614162730,90,-35.3333,-72.4167,14.62,2.06
3,3,bredasdorp,overcast clouds,ZA,1614227030,82,-34.5322,20.0403,17.00,2.50
4,4,nikolskoye,overcast clouds,RU,1614229586,93,59.7035,30.7861,3.00,5.00
...,...,...,...,...,...,...,...,...,...,...
488,543,stornoway,broken clouds,GB,1614238287,81,58.2093,-6.3865,7.00,9.77
489,544,alice springs,clear sky,AU,1614200271,12,-23.7000,133.8833,28.00,6.69
490,545,grindavik,clear sky,IS,1614243006,93,63.8424,-22.4338,0.00,3.09
491,546,new norfolk,overcast clouds,AU,1614195964,70,-42.7826,147.0587,13.89,1.79
492,547,sanford,few clouds,US,1614167715,77,28.8006,-81.2731,21.11,2.06

In [9]:
#store latitude and longitude in cities_locations
cities_location = cities_df[["Lat", "Lng"]].astype(float) 
humidity = cities_df["Humidity"].astype(float)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
#ploting the humidity heatmap

fig = gmaps.figure()
max_intensity = np.max(humidity)

heat_layer = gmaps.heatmap_layer(cities_location, weights=humidity, max_intensity = 100, dissipating=False, point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
#narrow with conditions Max Temp > 70 AND <80, Wind Speed <=10 and Cloudiness < 15.
#they are in c

narrow_cities_df = cities_df.loc[(cities_df["Max Temp"] > ((70-32)*(5/9))) & 
                                 (cities_df["Max Temp"] < ((80-32)*(5/9))) & 
                                 (cities_df["Wind Speed"] <= 10)].dropna() 

narrow_cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
15,16,omboue,overcast clouds,GA,1614231109,82,-1.5746,9.2618,26.08,1.89
18,19,busselton,clear sky,AU,1614204198,63,-33.6500,115.3333,23.33,0.89
21,23,paraiso,clear sky,CR,1614167514,60,9.8383,-83.8656,23.00,7.20
33,35,parauna,scattered clouds,BR,1614158409,88,-16.9478,-50.4486,21.54,1.93
39,41,bambous virieux,broken clouds,MU,1614218703,94,-20.3428,57.7575,24.00,1.54
...,...,...,...,...,...,...,...,...,...,...
463,512,alta floresta,overcast clouds,BR,1614160064,95,-9.8756,-56.0861,22.50,0.93
467,518,hilo,moderate rain,US,1614185007,73,19.7297,-155.0900,24.00,3.60
473,524,busselton,clear sky,AU,1614204198,63,-33.6500,115.3333,23.33,0.89
477,528,atuona,clear sky,PF,1614179976,76,-9.8000,-139.0333,26.20,4.83
478,529,atuona,clear sky,PF,1614179976,76,-9.8000,-139.0333,26.20,4.83

In [20]:
hotel_df = narrow_cities_df.loc[:,["City","Country", "Lat", "Lng"]]

#create and add the nuew column named Hotel Name to the df
hotel_df["Hotel Name"] = ""

hotel_df

                City Country      Lat       Lng Hotel Name
15            omboue      GA  -1.5746    9.2618
18         busselton      AU -33.6500  115.3333
21           paraiso      CR   9.8383  -83.8656
33           parauna      BR -16.9478  -50.4486
39   bambous virieux      MU -20.3428   57.7575
..               ...     ...      ...       ...        ...
463    alta floresta      BR  -9.8756  -56.0861
467             hilo      US  19.7297 -155.0900
473        busselton      AU -33.6500  115.3333
477           atuona      PF  -9.8000 -139.0333
478           atuona      PF  -9.8000 -139.0333

[86 rows x 5 columns]

In [21]:

#making the request to find hotel near to the places on the df

for index, row in hotel_df.iterrows():
    try:
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

        lat = row['Lat']
        lng = row['Lng']
        
        params['location'] = f"{lat}, {lng}"
        
        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except (KeyError, IndexError):
        
        hotel_df.loc[index, "Hotel Name"] = "Not available"
        
hotel_df

                City Country      Lat       Lng                   Hotel Name
15            omboue      GA  -1.5746    9.2618  HÃ´tel Georges Faustin Aurat
18         busselton      AU -33.6500  115.3333          The Sebel Busselton
21           paraiso      CR   9.8383  -83.8656   Orosi Lodge Boutique Hotel
33           parauna      BR -16.9478  -50.4486      Hotel Serras de ParaÃºna
39   bambous virieux      MU -20.3428   57.7575            La Hacienda Hotel
..               ...     ...      ...       ...                          ...
463    alta floresta      BR  -9.8756  -56.0861     Floresta Amazonica Hotel
467             hilo      US  19.7297 -155.0900          Hilo Hawaiian Hotel
473        busselton      AU -33.6500  115.3333          The Sebel Busselton
477           atuona      PF  -9.8000 -139.0333              CHALETS HANAKEE
478           atuona      PF  -9.8000 -139.0333              CHALETS HANAKEE

[86 rows x 5 columns]

In [22]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [23]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Add marker layer ontop of heat map


# Display figure